@media screen and (max-width:1200px) {

    body{
      /* height: 100vh; */
      margin: auto;
    }
    .container{
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #0c3842;
    }
    .container .line{
        visibility: hidden;
    }
    .container .information_coffe .box2{
      flex-direction:column;
      animation: reverse_div_column 3s linear infinite;
    }
    @keyframes reverse_div_column {
      0% {
          flex-direction: column;
      }
      50% {
          gap: 30px;
      }
      100% {
          flex-direction: column-reverse;
      }
  }
}
body{
    background-image: url("./images/pngtree-coffee-beans-leaves-beans-background-image_2177928.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-size: cover;
    background-clip: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-image: linear-gradient(to left,black,white);
    width: 75%;
    padding: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px white;
}
.cup_coffe{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    position: relative;
  }
  .cup{
    position: relative;
    background-image: linear-gradient(to right,#0c3842,white);
    width: 75%;
    height: 75%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .top{
    position: absolute;
    top:-30px;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right,#0c3842,white);
    border-radius: 50%;
  }
  .circle{
    border-radius: 50%;
    position: absolute;
    top:5px;
    left:10px;
    width: calc(100% - 20px);
    height: 50px;
    background-image: linear-gradient(to left,#0c3842,white);
    box-sizing: border-box;
    overflow: hidden;
  }
  .tea{
    position: inherit;
    top:10px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#c57e65,#e28462);
    border-radius: 50%;
  }
  
  .handle{
    position: absolute;
    top:20px;
    right: -70px;
    border: 25px solid rgb(218, 231, 235);
    width: 160px;
    height: 180px;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius: 50%;
    transform: rotate(42deg);
  }
  
  .plate{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 200px;
    background-image: linear-gradient(to right,#0c3842,rgb(154, 145, 145));
    border-radius: 50%;
    box-shadow: 0px 35px 35px rgba(0,0, 0, 0.2);
  
  }
  .plate::before{
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    height: 10px;
    left: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to left,#d4dcde,rgb(154, 145, 145));
  }
  .plate::after{
    content: '';
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 39px;
    background: radial-gradient(rgba(0,0,0,0.2) 25%,transparent,transparent);
    border-radius:50%;
  }
  .vapour{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 0px 20px;
  }
  .vapour span{
    position: relative;
    bottom: 50px;
    display: block;
    margin:0px 6px 50px;
    min-width: 8px;
    height: 100px;
    background-color: #d4dcde;
    border-radius: 50%;
    animation: animate 4s linear infinite;
    opacity: 0;
    filter: blur(8px);
    /* animation-delay: calc(var(--2) * -0.5s); */
  }
  .vapour span:nth-child(1) { animation-delay: 7s; }
  .vapour span:nth-child(2) { animation-delay: 4s; }
  .vapour span:nth-child(3) { animation-delay: 5s; }
  .vapour span:nth-child(4) { animation-delay: 0.6s; }
  .vapour span:nth-child(5) { animation-delay: 9s; }
  .vapour span:nth-child(6) { animation-delay: 1s; }
  .vapour span:nth-child(7) { animation-delay: 30s; }
  .vapour span:nth-child(8) { animation-delay: 1.4s; }
  .vapour span:nth-child(9) { animation-delay: 1.6s; }
  .vapour span:nth-child(11) { animation-delay: 4s; }
  .vapour span:nth-child(10) { animation-delay: 20s; }
  .vapour span:nth-child(12) { animation-delay: 2.2s; }
  .vapour span:nth-child(13) { animation-delay: 2.4s; }
  .vapour span:nth-child(14) { animation-delay: 2.6s; }
  .vapour span:nth-child(15) { animation-delay: 2.8s; }
  @keyframes animate {
      0%{
        background-color: white;
        transform: translateY(0) scaleX(1);
        opacity: 0;
      }
      15%{
        opacity: 1;
      }
      50%{
        background-color: aliceblue;
        transform: translateY(-150px) scaleX(5);
      }
      95%{
        opacity: 0;
      }
      100%{
        background-color: aliceblue;
        transform: translateY(-300px) scaleX(10);
      }
    
  }

.information_coffe div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information_coffe p{
    width: 50%;
    text-align: center;
    color: #d4dcde;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
}
.information_coffe h1{
    color: #e28462;
    text-align: center;
}
.information_coffe .box2{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: #d4dcde;
  animation: reverse_div 3s ease-in-out infinite;
}
/* @keyframes reverse_div {
  0%{
    flex-direction: row;
  }
  50%{
    gap:30px;
    .box{
      margin-left:20px;
    }
  }
  100%{
    flex-direction: row-reverse;
  }
} */
.box{
  animation: moveImg 2s ease infinite;
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.box img{
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

@keyframes moveImg {
  0% {
    margin-left: 0;
    transform: translateX(0) rotate(0deg);
  }
  50% {
    margin-left: 20px;
    color: #c57e65;
  }
  100% {
    margin-left: 40px;
  }
  0%{
    margin-left: 0px;
    margin-right: 60px;
  }
}
